@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/PretendardVariable.woff2) format('woff2');
  }

  * {
    font-family: 'Pretendard', sans-serif;
  }

  html {
    @apply text-text bg-bg;
    font-size: 16px;
  }

  html[data-transition='true'],
  html[data-transition='true'] * {
    @apply transition-colors !important;
  }

  @media (max-width: 1080px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 640px) {
    html {
      font-size: 12px;
    }
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
}
