@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/PretendardVariable.woff2) format('woff2');
  }

  * {
    font-family: 'Pretendard', sans-serif;
  }
}
